@import './constants/colors';

.page {
  background-color: $black;
  height: 100vh;


  .ships-container {
    background-color: $darkgray;
    height: 420px;
    .ships-row {
      display: flex;
    }

    .ship-content {
      margin: 5px;
    }
  }

}
